.movie-list-container {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    margin-top: 130px;
}

.category-container {
    margin-bottom: 20px;
}

.category-title {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.poster-container {
    display: flex;
    overflow-x: auto;
}

.movie-poster {
    margin-right: 20px;
}

.poster-image {
    width: 250px;
    height: 190px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 300ms;
}

.poster-image:hover {
    transform: scale(1.05);
}


::-webkit-scrollbar {
    display: none;
}